<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">

    <display-name>Ocorrencias</display-name>
    <servlet>
    	<servlet-name>AdicionarUsuario</servlet-name>
    	<display-name>AdicionarUsuario</display-name>
    	<description></description>
    	<servlet-class>servlets.AdicionarUsuario</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ExcluirUsuario</servlet-name>
    	<display-name>ExcluirUsuario</display-name>
    	<description></description>
    	<servlet-class>servlets.ExcluirUsuario</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ListarUsuarioId</servlet-name>
    	<display-name>ListarUsuarioId</display-name>
    	<description></description>
    	<servlet-class>servlets.ListarUsuarioId</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>AtualizarUsuario</servlet-name>
    	<display-name>AtualizarUsuario</display-name>
    	<description></description>
    	<servlet-class>servlets.AtualizarUsuario</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>AdicionarEstudante</servlet-name>
    	<display-name>AdicionarEstudante</display-name>
    	<description></description>
    	<servlet-class>servlets.AdicionarEstudante</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ListaEstudantes</servlet-name>
    	<display-name>ListaEstudantes</display-name>
    	<description></description>
    	<servlet-class>servlets.ListaEstudantes</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ExcluirEstudante</servlet-name>
    	<display-name>ExcluirEstudante</display-name>
    	<description></description>
    	<servlet-class>servlets.ExcluirEstudante</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>AdicionarUsuario</servlet-name>
    	<url-pattern>/AdicionarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ExcluirUsuario</servlet-name>
    	<url-pattern>/ExcluirUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ListarUsuarioId</servlet-name>
    	<url-pattern>/ListarUsuarioId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AtualizarUsuario</servlet-name>
    	<url-pattern>/AtualizarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AdicionarEstudante</servlet-name>
    	<url-pattern>/AdicionarEstudante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ListaEstudantes</servlet-name>
    	<url-pattern>/ListaEstudantes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ExcluirEstudante</servlet-name>
    	<url-pattern>/ExcluirEstudante</url-pattern>
    </servlet-mapping>


  
</web-app>
